<!-- To add a component to this component                                                  -->
<!--   1. import the component you want to add in the .ts file                                  -->
<!--   2. Add the import name to the imports property in @Component object in the .ts file -->
<!--   3. Add the component selector to the .html for this component                       -->

<h1>Pet App Home Page</h1>
<div>
    <p>Here we will keep track of your pets</p>
    <p>Pick the option you want from the navigation list</p>
</div>

