<nav class="navbar">
    <div id="navlinks">
        <!-- the a html tag - anchor - specifies a link                 -->
        <!-- here we are specifying the URL path for the link           -->
        <!-- path is defined in app.routes.ts file                      -->
        <!-- when a link is clicked the path in the href= will be added -->
        <!--      to the server-name:port in the URL                    -->   
        <a href="/home">Home</a>
        &nbsp; &nbsp;  
        <a href="/students">Show Student List</a>
    </div>
</nav>
   
