
<table id="studentInfoTable">
    <tr>
        <th>Student</th>
        <th>First</th>
        <th>Last</th>
        <th></th>
        <th>Start</th>
    </tr>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Name</th>
        <th>Cohort</th>
        <th>Date</th>
    </tr>
    <tr *ngFor="let aStudent of studentList">
        <td id="studNum">{{aStudent.studentNumber}}</td>
        <td>{{aStudent.firstName}}</td>
        <td>{{aStudent.lastName}}</td>
        <td>{{aStudent.cohort}}</td>
        <td>{{aStudent.startDate}}</td>
       
</tr>    
</table>
<input type="button" 
       id="addStudentButton" 
       value="Add Student" 
       routerLink="/addstudent"/>
    