#studentInfoTable {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    border: 2px solid blue;
    border-color: var(--borderColor);
    border-collapse: collapse;
}

#studNum {
    text-align: center;}

#studentInfoTable td {
    border: 1px solid blue;
    padding: 5px;
}

#addStudentButton{
    background-color: blanchedalmond;
    margin-top: 10px;
}